/*CSS de la page de recherche des événements*/

body{
    overflow-x: hidden;
}

label{
    color: white;
    padding:10px;
}

button{
    margin: 10px;
    background-color: #61dafb;
    color: #282c34;
    border-radius: 10px;
}

